
* {
  outline: 1px solid red;
}
/* 전체 레이아웃 시작 */
.container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 50px auto 50px auto 70px;
  grid-template-areas:
    "tl   tc      tr"
    ".    banner  ."
    ".    gnb     ."
    ".    main    ."
    ".    foot    .";
}
/* 전체 레이아웃 끝 */
/* 최상단 메뉴 */
#tl,#tc,#tr {
  background-color: #000;
}

/* 최상단 죄측 */
#tl {
  grid-area: tl;
  color: #fff;
}

/* 최상단 중앙 */
#tc {
  grid-area: tc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#tc .top-menu{
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

/* 최상단 우측 */

#tr {
  grid-area: tr;
}

#banner {
  grid-area: banner;
}

#gnb {
  grid-area: gnb;
}

#content{
  grid-area: main;
}

#foot{
  grid-area: foot;
}
