<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>포트폴리오 인덱스</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
  <div id="tl"></div>
  <div id="tc">
    <div class="top-menu">
      로그인, 회원가입
    </div>
  </div>
  <div id="tr"></div>
  <div id="banner">
    <header class="head">배 너 이 미 지</header>
  </div>
  <div id="gnb">
    <nav class="gnb">
      <li><a href="">게 시 판</a></li>
    </nav>
  </div>
  <div id="content">
    <main class="main">
      시작은 언제나 창대하게
    </main>
  </div>
  <div id="foot">
    <footer class="foot">
      footer 들어올 예정

    </footer>


  </div>


</div>

</body>
</html>